RosewoodControl/obj/
RosewoodControl/bin/
.idea/
RosewoodControl/obj/
RosewoodControl/bin/
.vs/
.vs/RosewoodControl/xs/UserPrefs.xml
RosewoodControl.sln.DotSettings.user
bin/
obj/
.DS_Store
.idea/





